name: Android CI (Debug)

on:
  push:
    branches: [ "main", "workflowUpdate"]
  pull_request:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Show Gradle info
        run: ./gradlew -v

      - name: Run unit tests
        run: ./gradlew :app:testDebugUnitTest --no-daemon

      - name: Print success sentence if unit tests passed
        if: success()
        run: echo "all unit tests are passed"

      - name: Upload unit test results
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-results
          path: app/build/test-results

      - name: Start emulator and run instrumentation tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 30
          target: google_apis
          arch: x86_64
          force-avd-creation: true
          emulator-options: -no-window -no-audio -gpu swiftshader_indirect
          script: ./gradlew :app:connectedDebugAndroidTest

      - name: Build Debug APK
        run: ./gradlew :app:assembleDebug

      - name: Upload instrumentation test results
        uses: actions/upload-artifact@v4
        with:
          name: instrumentation-test-results
          path: app/build/outputs/androidTest-results/connected

      
